.nav
{
	padding: 10px 0px 0px 0px;
	margin: auto;
	background-color: #C0C0C0;
	height: 30px;
	width: 900px;
	border-bottom-color: #CC99FF;
}
.nav ul
{
	background-color: #99CCFF;
	height: 30px;
	width: auto;
}
.nav li
{
	list-style-type: none;
	float: left;
	padding: 2px 5px 2px 5px;
}
.nav a:visited
{
	padding: 5px 10px 0px 10px;
	background-position: right;
	width: auto;
	height: auto;
	text-decoration: none;
	background-repeat: no-repeat;
	font-size: 18px;
	color: #0066FF;
}
.nav a:hover
{
	color: #1d60ff;
	text-decoration: none;
	background-color: #808080;
}
.nav a:active
{
	color: #003399;
	background-color: #FF33CC;
	text-decoration: none;
}
.nav a:link
{
	color: #034af3;
	text-decoration: none;
}
.nav a
{
	padding: 5px 10px 0px 10px;
	background-position: right;
	width: auto;
	height: auto;
	text-decoration: none;
	background-repeat: no-repeat;
	font-size: 18px;
	color: #0066FF;
}
.leftnav
{
	border-right-color: #FF99FF;
	float: left;
	width: 200px;
	background-color: #CCCCFF;
	height: 500px;
}
.rightbody
{
	width: 693px;
	height: auto;
	background-color: #FFFFFF;
	margin-left: 206px;
}
.body
{
	width: 900px;
	height: auto;
	margin: 10px auto auto auto;
}
.left
{
	border-bottom: 0px outset #CC3399;
	padding: 20px 0px 0px 10px;
	margin: 0px;
	width: 330px;
	height: 350px;
	float: left;
	background-color: #FF99CC;
	clear: none;
	text-align: left;
	vertical-align: top;
}
.right
{
	width: 341px;
	height: 350px;
	background-color: #FF66FF;
	margin-left: 340px;
	padding-top: 20px;
	padding-left: 10px;
}
.righttable
{
	width: 700px;
	background-color: #CCCCFF;
	margin: 0px auto 0px 200px;
}
.line
{
	background-color: #FFFFFF;
	height: 5px;
}
.text
{
	padding-bottom: 10px;
}
.more
{
	text-align: right;
}
