<div class="bottom">
	<ul class="column">
		<li>
			{sc:foreach item=navi key=i from=$navis#}
			<a href="{sc:$navi.URL#}">{sc:$navi.sName#}</a>&nbsp;&nbsp;|&nbsp;
			{sc:/foreach#}
			<a href="mailto:{sc:$Web.WebEmail#}">{sc:$Html.sEmail#}</a>
		</li>
	</ul>
	<ul class="copyright">
		<li>{sc:$Web.WebCopyright#}</li>
		<li>Powered by <a target="_blank" href="http://www.songcms.com">SongCMS {sc:$Sys.CMSVersion#}</a><br /><br /></li>
	</ul>
</div>
{sc:if $menu.open == "1"#}{sc:include file='component_top_menu.html'#}{sc:/if#}