<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="cng1985.Properties.Settings.WorkConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Data\Work.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
    <add name="WorkEntities" connectionString="metadata=res://*/Modle.Model1.csdl|res://*/Modle.Model1.ssdl|res://*/Modle.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Data\Work.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>