<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean id="DtreeAction" class="com.ada.action.DtreeAction">
		<property name="builder" ref="builder"></property>
	</bean>
	<bean id="builder" class="com.ada.dtree.demo.DemoMakerBuilder">
	</bean>
</beans>