<?xml version="1.0" encoding="UTF-8"?>
	<!--
		- Application context containing authentication, channel - security
		and web URI beans. - - Only used by "filter" artifact. -
	-->

<b:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:b="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
               ">



</b:beans>
