<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">



	
	<bean id="helloSerivce"
		class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean">
		<property name="serviceUrl">
			<value>http://cng1985.appspot.com/hello.service</value>
		</property>
		<property name="serviceInterface" value="com.jeeny.api.ArticleWork"></property>
	</bean>
	<bean id="aSerivce"
		class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean">
		<property name="serviceUrl">
			<value>http://localhost:8888/hello.service</value>
		</property>
		<property name="serviceInterface" value="com.springbblog.api.HelloWork"></property>
	</bean>
</beans>