<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
                         "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
 <filter>
  <filter-name>author</filter-name>
  <filter-class>com.ada.filter.AuthorFilter</filter-class>
 </filter>
 <filter-mapping>
 <filter-name>author</filter-name>
 <url-pattern>/admin/*</url-pattern>
 </filter-mapping>
 
 
 <!-- Servlets -->
 <servlet>
  <servlet-name>Login</servlet-name>
  <servlet-class>com.service.Login</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>SearchServlet</servlet-name>
  <servlet-class>com.service.SearchServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>MessageWork</servlet-name>
  <display-name>This is the display name of my J2EE component</display-name>
  <description>This is the description of my J2EE component</description>
  <servlet-class>com.service.MessageWork</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>SiteMail</servlet-name>
  <display-name>This is the display name of my J2EE component</display-name>
  <description>This is the description of my J2EE component</description>
  <servlet-class>com.ada.mail.SiteMail</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ArticleWork</servlet-name>
  <display-name>This is the display name of my J2EE component</display-name>
  <description>This is the description of my J2EE component</description>
  <servlet-class>com.service.ArticleWork</servlet-class>
 </servlet>
  <servlet>
    <servlet-name>ShowMessage</servlet-name>
    <servlet-class>com.service.ShowMessage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RMessageServerlet</servlet-name>
    <servlet-class>com.service.RMessageServerlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageService</servlet-name>
    <servlet-class>com.service.ImageService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterService</servlet-name>
    <servlet-class>com.service.RegisterService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ForumService</servlet-name>
    <servlet-class>com.service.ForumService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ForumMessageService</servlet-name>
    <servlet-class>com.service.ForumMessageService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ForumRMessage</servlet-name>
    <servlet-class>com.service.ForumRMessage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ForumRMessageService</servlet-name>
    <servlet-class>com.service.ForumRMessageService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReadWork</servlet-name>
    <servlet-class>com.service.ReadWork</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>XmppReceiverServlet</servlet-name>
    <display-name>GetNewMessageCount</display-name>
    <description>GetNewMessageCount</description>
    <servlet-class>com.service.XmppReceiverServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InitSystem</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>com.service.InitSystem</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CacheService</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>com.service.CacheService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CaheTest</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>com.service.CaheTest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StringWork</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>com.service.StringWork</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HelloRobotServlet</servlet-name>
    <servlet-class>com.service.HelloRobotServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Profile</servlet-name>
    <servlet-class>com.ada.wave.Profile</servlet-class>
  </servlet>















 <servlet-mapping>
  <servlet-name>Login</servlet-name>
  <url-pattern>/servlet/Login</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SearchServlet</servlet-name>
  <url-pattern>/servlet/SearchServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>MessageWork</servlet-name>
  <url-pattern>/servlet/MessageWork</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SiteMail</servlet-name>
  <url-pattern>/servlet/SiteMail</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ArticleWork</servlet-name>
  <url-pattern>/servlet/ArticleWork</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowMessage</servlet-name>
    <url-pattern>/servlet/ShowMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RMessageServerlet</servlet-name>
    <url-pattern>/rmessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageService</servlet-name>
    <url-pattern>/servlet/ImageService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterService</servlet-name>
    <url-pattern>/servlet/RegisterService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForumService</servlet-name>
    <url-pattern>/ForumService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForumMessageService</servlet-name>
    <url-pattern>/ForumMessageService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForumRMessage</servlet-name>
    <url-pattern>/ForumRMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForumRMessageService</servlet-name>
    <url-pattern>/ForumRMessageService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReadWork</servlet-name>
    <url-pattern>/reader</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XmppReceiverServlet</servlet-name>
    <url-pattern>/_ah/xmpp/message/chat/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InitSystem</servlet-name>
    <url-pattern>/servlet/InitSystem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CacheService</servlet-name>
    <url-pattern>/servlet/CacheService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CaheTest</servlet-name>
    <url-pattern>/servlet/CaheTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StringWork</servlet-name>
    <url-pattern>/StringWork</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HelloRobotServlet</servlet-name>
    <url-pattern>/_wave/robot/jsonrpc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/_wave/robot/profile</url-pattern>
  </servlet-mapping>
  
  
  
  <!-- dwr configuration begin -->
	<listener>
		<listener-class>
			org.directwebremoting.servlet.EfficientShutdownServletContextAttributeListener</listener-class>
	</listener>
	<listener>
		<listener-class>
			org.directwebremoting.servlet.EfficientShutdownServletContextListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>dwr-invoker</servlet-name>
		<servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>crossDomainSessionSecurity</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>allowScriptTagRemoting</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
	<!-- dwr configuration end -->
 <!-- Default page to serve -->
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
 <error-page>
 <error-code>500</error-code>
 <location>/500.jsp</location>
 </error-page>
</web-app>
