@CHARSET "UTF-8";

.x-treegrid .x-btn button {
    font-size: 12px;
}

.x-treegrid .x-treegrid-col {
    font-size: 12px;
    height: 24px;
    padding: 3px 0px 0px 0px;
}

.x-treegrid .x-treegrid-hd-inner {
    font-size: 12px;
}

.x-treegrideditor-obar {
    font: 12px arial, tahoma, helvetica, sans-serif;
    font-weight: bold;
}

.x-treegrideditor-obar span {
    padding: 0px 2px;
    line-height: 18px;
    margin: 0px 2px;
}

.x-treegrideditor-obar a {
    color: #4D4D4D;
    border-bottom: 0px;
}

.x-treegrideditor-obar a:link {
    color: #4D4D4D;
    border-bottom: 0px;
}

.x-treegrideditor-obar a:hover {
    color: #99BBE8;
    border-bottom: 1px solid #99BBE8;
}

.x-treegrideditor-obar .x-treegrideditor-obar-add {
    background: url(images/add.png) no-repeat;
    padding-top: 1px;
    padding-left: 18px;
}

.x-treegrideditor-obar .x-treegrideditor-obar-add-ie {
    padding-top: 3px;
}

.x-treegrideditor-obar .x-treegrideditor-obar-add-gray {
    background: url(images/add-gray.png) no-repeat;
}

.x-treegrideditor-obar .x-treegrideditor-obar-edit {
    background: url(images/edit.png) no-repeat;
    padding-top: 1px;
    padding-left: 18px;
}

.x-treegrideditor-obar .x-treegrideditor-obar-edit-ie {
    padding-top: 3px;
}

.x-treegrideditor-obar .x-treegrideditor-obar-edit-gray {
    background: url(images/edit-gray.png) no-repeat;
}

.x-treegrideditor-obar .x-treegrideditor-obar-remove {
    background: url(images/remove.png) no-repeat;
    padding-top: 1px;
    padding-left: 18px;
}

.x-treegrideditor-obar .x-treegrideditor-obar-remove-ie {
    padding-top: 3px;
}

.x-treegrideditor-obar .x-treegrideditor-obar-remove-gray {
    background: url(images/remove-gray.png) no-repeat;
}

.x-treegrideditor-obar .x-treegrideditor-obar-yes {
    background: url(images/yes.png) no-repeat;
    padding-top: 1px;
    padding-left: 18px;
    font-weight: normal;
}

.x-treegrideditor-obar .x-treegrideditor-obar-yes-ie {
    padding-top: 3px;
}

.x-treegrideditor-obar .x-treegrideditor-obar-yes-gray {
    background: url(images/yes-gray.png) no-repeat;
}

.x-treegrideditor-obar .x-treegrideditor-obar-no {
    background: url(images/no.png) no-repeat;
    padding-top: 1px;
    padding-left: 18px;
    font-weight: normal;
}

.x-treegrideditor-obar .x-treegrideditor-obar-no-ie {
    padding-top: 3px;
}

.x-treegrideditor-obar .x-treegrideditor-obar-no-gray {
    background: url(images/no-gray.png) no-repeat;
}

.x-treegrideditor-inputfield input {
    font: 12px arial, tahoma, helvetica, sans-serif;
    height: 16px;
}

.x-treegrideditor-inputfield input.x-tge-input {
    width: 150px;
}

.x-form-field-wrap .x-treegrideditor-arrow-trigger {
    height: 15px;
    background-image: url(images/trigger.gif);
}

.x-form-field-wrap .x-treegrideditor-date-trigger {
    height: 15px;
    background-image: url(images/date-trigger.gif);
}

input.x-treegrideditor-node-cb {
    margin-left: 2px;
    margin-right: 2px;
}
