<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


	
	<import resource="springconfig/hibernate.xml"/>
	<import resource="springconfig/ada.xml"/>
	<import resource="springconfig/hello.xml"/>
	<!--
	<import resource="spring/workflow/hellowork.xml"/>
	  -->
	</beans>